{% extends 'admin/accueiladmin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
{% extends 'admin/accueiladmin.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<h4 class="card-header" style="background:white; color:black "><marquee behavior="" direction=""><strong>Bienvenue Pharmacien:  ici votre tableau de bord </strong></marquee></h4><br>
<div class="container-fluid">
{# container #}
<h3><strong><em>Les Cours:</em></strong></h3>
<div class="row my-2 my-lg-0 float-right mb-4">
    <div class="col-md-12 text-right ">
        <input class="form-control mr-sm-2 " type="text" name="recherche" placeholder="Rechercher pharmacie" aria-label="Search" >
        <a class="btn btn-success float-right mb-4" href="" data-toggle="modal" data-target="#ajouterPharmacie">Ajouter Nouveau pharmacie</a>
    </div> 
</div><br><br>

  
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Mail</th>
      <th scope="col">Fonction</th>
      <th scope="col">Reférence</th>
      <th scope="col">Sexe</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {# @foreach ($pharmaciens as $pharmacien) #}
      {# <tr>
      <th scope="row">{{ $pharmacien->id }}</th>
      <td>{{ $pharmacien->name }}</td>
      <td>{{ $pharmacien->prenom }}</td>
      <td>{{ $pharmacien->email }}</td>
      <td>{{ $pharmacien->fonction }}</td>
      <td>{{ $pharmacien->num_reference }}</td>
      <td>{{ $pharmacien->sexe }}</td>
      <td> #}
        {# @if ($pharmacien->statut == 0)
        <a href="{{route('search_pharmacien', ['id' => $pharmacien->id, 'status_code' => 1]) }}" class="btn btn-success"><i class="fa fa-unlock"></i>  </a>
        @else
        <a href="{{route('search_pharmacien',['id' => $pharmacien->id, 'status_code' => 0]) }}" class="btn btn-warning"><i class="fa fa-lock"></i></a> 
        @endif
        <a  class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete{{ $pharmacien->id }}"><i class="fa fa-trash" ></i></a>
      </td>
    </tr>
      @endforeach #}
  </tbody>   
</table>
</div>

<!-- Modal d'ajout d'un Ajouter une Pharmacie -->
<div class="modal right fade" id="ajouterPharmacie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Ajouter une Pharmacie</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
       <form class="form-horizontal" method="post" action=""  enctype="multipart/form-data" id="form">
       
       <div class="form-group">
          <label for="name" >Nom de La Pharmacie</label>
          <input type="text" class="form-control" id="name" placeholder="Entrer Current password" name="name" >
          <span class="text-danger error-text name_error"></span>
       </div>
       <div class="form-group">
            <label for="localite" class="">localite *</label>
            <input type="text" class="form-control" id="localite" placeholder="Entrer localite" name="localite" >
            <span class="text-danger error-text localite_error"></span>
       </div>
       <div class="form-group">
            <label for="dateCrea" class="">dateCrea *</label>
            <input type="date" class="form-control" id="dateCrea" placeholder="Date de Creation" name="dateCrea" >
            <span class="text-danger error-text dateCrea_error"></span>
       </div>
       <div class="form-group">
          <label for="nbrAgent" class="">nbrAgent *</label>
          <input type="number" class="form-control" id="nbrAgent" placeholder="Nombre D'Agents" name="nbrAgent" >
          <span class="text-danger error-text nbrAgent_error"></span>
       </div>
       <div class="form-group">
            <label for="pharmacie_image" class="">Image de la pharmacie</label>
            <input type="file" class="form-control" id="pharmacie_image" placeholder="Entrer pharmacie image" name="pharmacie_image" >
            <span class="text-danger error-text pharmacie_image_error"></span>
        </div>
       <div class="modal-footer">
         <button class="btn btn-primary">Inscrire Pharmacie</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="" type="reset" class="btn btn-danger">Annuler</a>
       </div>

       </form>
      </div>
    </div>
  </div>
</div>
{# <link href="/css/app.css" rel="stylesheet"> #}
<style>
  .modal.right .modal-dialog{
    /* position: absolute; */
    top: 0;
    right: 0;
    margin-right: 19vh;
  }
  .modal.fade:not(.in).right .modal-dialog{
    -webkit-transform: translate3d(25%,0,0);
    transform: translate3d(25%, , 0, 0);
  }
</style>
<style>
    .modal.left .modal-dialog{
        position: absolute;
        top: 0;
        left:0;
        margin: 0;
    }
    .modal.left .modal-dialog.modal-sm{
        max-width: 300px;
    }
    .mmodal.left .modal-content{
        min-height: 100vh
    }

    h4{
        font-family: Verdona, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .card-header{
        background: #2ecc71;
        color: #fff;
    }
</style>

{% endblock %}

{% endblock %}